:root {
  --dark-blue: #1da369;
  --light-blue: #1A5F7A;
  --dark-sky: #159895;
  --light-sky: #57C5B6;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Changa', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100vh;
  background-color: var(--light-sky);
}

.wrapper {
  background-color: #FFF;
  padding: 20px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  box-shadow: 10px 10px 20px rgb(0 0 0 / 40%);
}

@media (max-width: 767px) {
  .wrapper {
    width: 100vw;
    height: 100vh;
  }
}

.wrapper.bounce {
  animation: bounce 1s infinite alternate ease-in-out;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.main-header h1 {
  color: var(--dark-sky);
}

.main-header .mode {
  height: 40px;
  border: none;
  border-radius: 10px;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--dark-sky);
  color: white;
}

.music-list {
  flex: 1;
  width: 100%;
  background-color: #FFF;
  overflow-y: scroll;
}

.music-list::-webkit-scrollbar {
  width: 0;
}

.music-list .song {
  direction: rtl;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-bottom: 15px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 1px solid var(--light-sky);
  cursor: pointer;
  user-select: none;
}

.music-list .song:last-child{
  margin-bottom: 0;
}

.music-list .song.active {
  background-color: #57c5b64f;
}

.music-list .song span {
  font-weight: 600;
  margin-left: 15px;
}

.music-details h3 {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 600;
  color: var(--dark-blue);
}

.progress-bar {
  width: 100%;
  height: 6px;
  background-color: #DDD;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.progress-bar .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
} 

.progress-bar .time span {
  font-weight: 600;
}

.progress-bar .progress {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(to right,  var(--light-sky), var(--dark-sky), var(--light-blue), var(--dark-blue));
}

.progress-bar .progress::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: linear-gradient(to left, var(--light-sky), var(--dark-sky), var(--light-blue), var(--dark-blue));
}

footer, footer .control {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .control {
  position: relative;
  right: 10px;
  width: 45%;
}

footer i {
  font-size: 20px;
  background: linear-gradient(to bottom,  var(--light-sky), var(--dark-sky), var(--light-blue), var(--dark-blue));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  box-shadow: 3px 3px 8px rgb(0 0 0 / 30%);
}

footer .flow-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

footer .flow {
  display: none;
}

footer .flow.show {
  display: block;
}

footer .play-pause {
  background: linear-gradient(#f2f2f2, #e3e3e3);
  border: 1px solid var(--light-sky);
  color: #FFF;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgb(0 0 0 / 40%);
}

footer .play-pause::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: inherit;
  background: linear-gradient(to bottom,  var(--light-sky), var(--dark-sky), var(--light-blue), var(--dark-blue));
  cursor: pointer;
}

.play-pause i {
  position: relative;
  left: 1px;
  background-clip: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
  background: transparent;
  font-size: 18px;
}

.play-pause .play{
  display: block;
}

.play-pause .pause {
  display: none;
}

.play-pause.playing .play{
  display: none;
}

.play-pause.playing .pause{
  display: block;
}

footer .prev, footer .next {
  font-size: 30px;
}